


.custom-background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Bandera_del_presidente_de_Chile.svg/800px-Bandera_del_presidente_de_Chile.svg.png");
    background-size: cover;
    color: white;
  }